
@{
    ViewBag.Title = "Denied";
}

<div class="container">
    <h3 class="text-danger">You have no authorization to do this!</h3>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Tree", "Tree")'">Return</button>
</div>


