@using TreeManager.Domain.Entities
@model Node

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h2>Edit node</h2>
    @using (Html.BeginForm("EditNode", "Admin", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <label>Title of node:</label>
            @Html.TextBoxFor(n => n.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Description:</label>
            @Html.TextAreaFor(n => n.Description, new { @class = "form-control", @rows = "5" })
        </div>
        <button type="submit" class="btn btn-default">Edit node</button>
        <button type="button" class="btn" onclick="location.href='@Url.Action("Tree", "Tree")'">Cancel</button>
    }
</div>

